
/* Your CSS Code here. */

.holder {
  display: flex;             /* Use Flexbox */
  justify-content: center;   /* Center items horizontally */
  align-items: center;       /* Align items vertically in the center */
  flex-wrap: wrap;           /* Allow items to wrap to the next row */
}

.item-1{
	background-color:red;
	height:100px;
	width:100px;
}